html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
/* .form-signin .checkbox {
    font-weight: 400;
} */
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    -webkit-animation-name: example1; 
  -webkit-animation-duration: 4s; 
  -webkit-animation-iteration-count: 2; 
  -webkit-animation-direction: alternate; 
  animation-name: example1;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .button {
    animation: mymove 5s infinite;
    animation-timing-function: ease-in;
}  
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes example1 {
    0%   { left:0px; top:0px;}
    25%  { left:80%; top:0px;}
    50%  { left:0px; top:0px;}
    75%  { left:-80%; top:0px;}
    100% { left:0px; top:0px;}
}
    
@keyframes example1 {
    0%   { left:0px; top:0px;}
    25%  { left:80%; top:0px;}
    50%  {left:0px; top:0px;}
    75%  { left:-80%; top:0px;}
    100% { left:0px; top:0px;}
}
#custom-alert {
    top: 10px;
    position: fixed;
}
